<ion-header>
  <ion-toolbar>
    <!-- Default back button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{stringConst.resetYourPassword}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item lines="full">
    <ion-label position="floating">{{stringConst.loginEmail}}</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="block">{{stringConst.buttonSend}}</ion-button>
    </ion-col>
  </ion-row>
  <small>
    <p>Please provide the username or email address that you used when you signed
      up for your account.</p>
  </small>
</form>

</ion-content>
