<ion-header>
  <ion-toolbar>
    <!-- Default back button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{stringConst.resetYourPassword}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item lines="full">
    <ion-label position="floating">{{stringConst.loginEmail}}</ion-label>
    <ion-input formControlName="email" type="email" required></ion-input>
  </ion-item>
   <!-- Error messages -->
   <span class=" error ion-padding"  *ngIf="isSubmitted && errorControl.email.errors?.required">
     <ion-label color="danger"> Email is required</ion-label>
   </span>
   <span class="error ion-no-padding" color="danger"  *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    <ion-label color="danger"> Please provide valid email id.</ion-label>
   </span>

  <ion-row>
    <ion-col>
      <ion-button type="submit" shape="round" expand="block">{{stringConst.buttonSend}}</ion-button>
    </ion-col>
  </ion-row>
  <small>
    <p>Please provide the username or email address that you used when you signed
      up for your account.</p>
  </small>
</form>

</ion-content>
