<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" [fullscreen]="true">
 <ion-grid>
   <ion-row>
     <ion-col align-self-center>
       <ion-button [routerLink]="['/login']" expand="block" shape="round" color="danger">{{constantString.loginSignInButton}}</ion-button>
       <ion-item-divider>
        <ion-label position="fixed"></ion-label>
      </ion-item-divider>
       <ion-button [routerLink]="['/register']" expand="block" shape="round" color="primary">{{constantString.loginRegisterButton}}</ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
